.search-button {
  all: unset;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:focus-visible {
    outline: 2px solid $outline-focus;
    border-radius: 4px;
  }
}
