.tags {
  display: flex;
}

.active-tag {
  border-color: $green;
}

.tag-button {
  all: unset;
  cursor: pointer;

  &:focus .tag {
    border: 1px dashed $border-focus;
    //border-style: dashed;
  }
}
