.tags {
  display: flex;
}

.tag-button {
  all: unset;
  cursor: pointer;

  &:focus .tag {
    border: 1px dashed $border-focus;
  }

  .active-tag, &:focus .active-tag {
    border-color: $green
  }
}
