// Should be used in vite.config.ts

$black: rgba(0,0,0);
$gray: rgba(0,0,0, 0.7);
$gray-light: rgba(0,0,0, 0.05);
$white: rgba(255,255,255);
$border: rgba(0,0,0, 0.2);
$border-hover: rgba(0,0,0, 0.15);
$border-active: rgba(0,0,0, 0.10);
