.button {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 5px;
  border: 1px solid $border;
  padding: 8px 12px;

  &:focus-visible {
    outline: 2px solid $outline-focus;
  }

  &:hover {
    border-color: $border-hover;
  }

  &:active {
    border-color: $border-active;
  }
}
