.search-button {
  all: unset;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:focus {
    outline: 1px solid $black;
    border-radius: 4px;
  }
}
