.filter {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.button-filters {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.filter-item {
  width: fit-content;
}

.delete-button {
  display: flex;
  align-items: center;
  gap: 4px;
  color: $red;
}
